langchain_google_genai
langchain_core
streamlit 
python-dotenv
langchain_community
langchain_groq
langserve
fastapi
uvicorn
bs4
pypdf
langchain
langchain.text_splitters
chromadb
faiss-cpu
sentence-transformers
ipywidgets
pydantic<2.0